# Retrieving Chicago Public Schools Data

## About the Data

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

## Set up

We first set up the necessary libraries, the SQL extension, and the database for querying.

In [1]:
import pandas, csv, sqlite3

con = sqlite3.connect("ChicagoPublicSchool.db")
cur = con.cursor()

%load_ext sql
%sql sqlite:///ChicagoPublicSchool.db

Here, we read the .CSV file using `pandas` and then import the data into the database as a table. The output given is the number of rows in the table.

In [2]:
df = pandas.read_csv("https://data.cityofchicago.org/resource/9xs2-f89t.csv")
df.to_sql("report_card_data", con, if_exists='replace', index=False, method="multi")

566

Let's retrieve a list of tables to make sure the table import was successful.

In [3]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///ChicagoPublicSchool.db
Done.

[('report_card_data',)]

## Attributes of the Table

We now retrieve the number of columns and the list of all columns with their corresponding data type.

In [4]:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('report_card_data')

 * sqlite:///ChicagoPublicSchool.db
Done.

[(79,)]

In [5]:
%sql SELECT name,type FROM PRAGMA_TABLE_INFO('report_card_data')

 * sqlite:///ChicagoPublicSchool.db
Done.

[('school_id', 'INTEGER'),
 ('name_of_school', 'TEXT'),
 ('elementary_or_high_school', 'TEXT'),
 ('street_address', 'TEXT'),
 ('city', 'TEXT'),
 ('state', 'TEXT'),
 ('zip_code', 'INTEGER'),
 ('phone_number', 'TEXT'),
 ('link_', 'TEXT'),
 ('network_manager', 'TEXT'),
 ('collaborative_name', 'TEXT'),
 ('adequate_yearly_progress_made_', 'TEXT'),
 ('track_schedule', 'TEXT'),
 ('cps_performance_policy_status', 'TEXT'),
 ('cps_performance_policy_level', 'TEXT'),
 ('healthy_schools_certified_', 'TEXT'),
 ('safety_icon_', 'TEXT'),
 ('safety_score', 'REAL'),
 ('family_involvement_icon', 'TEXT'),
 ('family_involvement_score', 'TEXT'),
 ('environment_icon_', 'TEXT'),
 ('environment_score', 'REAL'),
 ('instruction_icon_', 'TEXT'),
 ('instruction_score', 'REAL'),
 ('leaders_icon_', 'TEXT'),
 ('leaders_score_', 'TEXT'),
 ('teachers_icon_', 'TEXT'),
 ('teachers_score', 'TEXT'),
 ('parent_engagement_icon_', 'TEXT'),
 ('parent_engagement_score', 'TEXT'),
 ('parent_environment_icon', 'TEXT'),
 ('parent_environment_score', 'TEXT'),
 ('average_student_attendance', 'REAL'),
 ('rate_of_misconducts_per_100_students_', 'REAL'),
 ('average_teacher_attendance', 'REAL'),
 ('individualized_education_program_compliance_rate_', 'REAL'),
 ('pk_2_literacy', 'TEXT'),
 ('pk_2_math_', 'TEXT'),
 ('gr3_5_grade_level_math', 'TEXT'),
 ('gr3_5_grade_level_read_', 'TEXT'),
 ('gr3_5_keep_pace_read_', 'TEXT'),
 ('gr3_5_keep_pace_math', 'TEXT'),
 ('gr6_8_grade_level_math', 'TEXT'),
 ('gr6_8_grade_level_read', 'TEXT'),
 ('gr6_8_keep_pace_math', 'TEXT'),
 ('gr6_8_keep_pace_read', 'TEXT'),
 ('gr_8_explore_math', 'TEXT'),
 ('gr_8_explore_read', 'TEXT'),
 ('isat_exceeding_math_', 'REAL'),
 ('isat_exceeding_reading_', 'REAL'),
 ('isat_value_add_math', 'REAL'),
 ('isat_value_add_read', 'REAL'),
 ('isat_value_add_color_math', 'TEXT'),
 ('isat_value_add_color_read', 'TEXT'),
 ('students_taking_algebra', 'TEXT'),
 ('students_passing_algebra', 'TEXT'),
 ('_th_grade_explore_2009_', 'TEXT'),
 ('_th_grade_explore_2010_', 'TEXT'),
 ('_th_grade_plan_2009_', 'TEXT'),
 ('_th_grade_plan_2010_', 'TEXT'),
 ('net_change_explore_and_plan', 'TEXT'),
 ('_th_grade_average_act_2011_', 'TEXT'),
 ('net_change_plan_and_act', 'TEXT'),
 ('college_eligibility_', 'TEXT'),
 ('graduation_rate_', 'TEXT'),
 ('college_enrollment_rate', 'TEXT'),
 ('college_enrollment_number_of_students_', 'INTEGER'),
 ('general_services_route_', 'INTEGER'),
 ('freshman_on_track_rate', 'TEXT'),
 ('rcdts_code', 'INTEGER'),
 ('x_coordinate', 'REAL'),
 ('y_coordinate', 'REAL'),
 ('latitude', 'REAL'),
 ('longitude', 'REAL'),
 ('community_area_number', 'INTEGER'),
 ('community_area_name', 'TEXT'),
 ('ward', 'INTEGER'),
 ('police_district', 'INTEGER'),
 ('location', 'TEXT')]

## School Levels

We now retrieve the number of elementary schools, middle schools, and high schools.

In [6]:
%sql SELECT COUNT(*) AS number_of_elementary_schools FROM report_card_data WHERE elementary_or_high_school = "ES"

 * sqlite:///ChicagoPublicSchool.db
Done.

[(462,)]

In [7]:
%sql SELECT COUNT(*) AS number_of_middle_schools FROM report_card_data WHERE elementary_or_high_school = "MS"

 * sqlite:///ChicagoPublicSchool.db
Done.

[(11,)]

In [8]:
%sql SELECT COUNT(*) AS number_of_high_schools FROM report_card_data WHERE elementary_or_high_school = "HS"

 * sqlite:///ChicagoPublicSchool.db
Done.

[(93,)]

## Safety Score

Here, we retrieve some data regarding the safety score. We first retrieve the highest safety score and then the list of schools with the highest safety score.

In [9]:
%sql SELECT MAX(safety_score) AS highest_safety_score FROM report_card_data

 * sqlite:///ChicagoPublicSchool.db
Done.

[(99.0,)]

In [10]:
%sql SELECT school_id, name_of_school, safety_score FROM report_card_data WHERE safety_score = (SELECT MAX(safety_score) FROM report_card_data)

 * sqlite:///ChicagoPublicSchool.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 99.0),
 (609799, 'Alexander Graham Bell Elementary School', 99.0),
 (610084, 'Annie Keller Elementary Gifted Magnet School', 99.0),
 (609820, 'Augustus H Burley Elementary School', 99.0),
 (610132, 'Edgar Allan Poe Elementary Classical School', 99.0),
 (609901, 'Edgebrook Elementary School', 99.0),
 (610073, 'Ellen Mitchell Elementary School', 99.0),
 (610066, 'James E McDade Elementary Classical School', 99.0),
 (609803, 'James G Blaine Elementary School', 99.0),
 (610033, 'LaSalle Elementary Language Academy', 99.0),
 (610355, 'Mary E Courtenay Elementary Language Arts Center', 99.0),
 (609749, 'Northside College Preparatory High School', 99.0),
 (609744, 'Northside Learning Center High School', 99.0),
 (610099, 'Norwood Park Elementary School', 99.0),
 (610105, 'Oriole Park Elementary School', 99.0),
 (610155, 'Sauganash Elementary School', 99.0),
 (609880, 'Stephen Decatur Classical Elementary School', 99.0),
 (610249, 'Talman Elementary School', 99.0),
 (610230, 'Wildwood Elementary School', 99.0)]

## Average Student Attendance

Here, we retrieve some data on the average student attendance percentage. We retrieve a list of 10 schools with the highest average student attendance and a list of 10 schools with the lowest average student attendance.

In [11]:
%%sql
SELECT school_id, name_of_school, average_student_attendance
FROM report_card_data
ORDER BY average_student_attendance DESC NULLS LAST
LIMIT 10

 * sqlite:///ChicagoPublicSchool.db
Done.

[(609959, 'John Charles Haines Elementary School', 98.4),
 (610217, 'James Ward Elementary School', 97.8),
 (610132, 'Edgar Allan Poe Elementary Classical School', 97.6),
 (610329, 'Orozco Fine Arts & Sciences Elementary School', 97.6),
 (609842, 'Rachel Carson Elementary School', 97.6),
 (610084, 'Annie Keller Elementary Gifted Magnet School', 97.5),
 (610060, 'Andrew Jackson Elementary Language Academy', 97.4),
 (610298, 'Lenart Elementary Regional Gifted Center', 97.4),
 (610515, 'Disney II Magnet School', 97.3),
 (610207, 'John H Vanderpoel Elementary Magnet School', 97.2)]

In [12]:
%%sql
SELECT school_id, name_of_school, average_student_attendance
FROM report_card_data
ORDER BY average_student_attendance NULLS LAST
LIMIT 10

 * sqlite:///ChicagoPublicSchool.db
Done.

[(609702, 'Richard T Crane Technical Preparatory High School', 57.9),
 (609871, 'Barbara Vick Early Childhood & Family Center', 60.9),
 (609736, 'Dyett High School', 62.5),
 (609727, 'Wendell Phillips Academy High School', 63.0),
 (610389, 'Orr Academy High School', 66.3),
 (609722, 'Manley Career Academy High School', 66.8),
 (609674, 'Chicago Vocational Career Academy High School', 68.8),
 (609759, 'Roberto Clemente Community Academy High School', 69.6),
 (610501, 'Austin Polytechnical Academy High School', 70.1),
 (609713, 'Hyde Park Academy High School', 70.5)]

## College enrollment

Finally, we retrieve a list of total college enrollment of each community area.

In [13]:
%%sql
SELECT community_area_name, SUM(college_enrollment_number_of_students_) AS total_college_enrollment
FROM report_card_data
GROUP BY community_area_name

 * sqlite:///ChicagoPublicSchool.db
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]